<div class="config">
  <div class="config__cards">
    <div class="config__section">
      @for (switcher of columnSwitchers1(); track
      switcher.name){
      <div class="config__switcher">
        <app-switcher-component
          [name]="switcher.name"
          [initialActive]="switcher.isActive"
          (stateCheckbox)="userTabCol($event)"
        ></app-switcher-component>
        <span>{{convertName (switcher.name)}}</span>
      </div>
      }
    </div>
    <div class="config__section">
      @for (switcher of columnSwitchers2(); track
      switcher.name){
      <div class="config__switcher">
        <app-switcher-component
          [name]="switcher.name"
          [initialActive]="switcher.isActive"
        ></app-switcher-component>
        <span>{{convertName (switcher.name)}}</span>
      </div>
      }
    </div>
    <div class="config__section">
      @for (switcher of columnSwitchers3(); track
      switcher.name){
      <div class="config__switcher">
        <app-switcher-component
          [name]="switcher.name"
          [initialActive]="switcher.isActive"
        ></app-switcher-component>
        <span>{{convertName (switcher.name)}}</span>
      </div>
      }
    </div>
  </div>
</div>
