@import '../../../scss/mixins';
@import '../../../scss/functions';
@import '../../../scss/variables';

.config {
  &__cards {
    @include flex($gap: rem(20), $alight: top);
    padding: $spacing-md;
  }

  &__section {
    width: 33.33%;
    padding: $spacing-md;
    border: solid black 1px;
    border-radius: 10px;
  }

  &__switcher {
    @include flex($justify: start, $gap: rem(30));
    padding-top: $spacing-sm;
    padding-bottom: $spacing-sm;
  }
}
