:host {
  width: var(--svgWidth, 24px);
  height: var(--svgHeight, 24px);
}

.icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon use {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  :host {
    width: var(--svgWidth, 20px);
    height: var(--svgHeight, 20px);
  }
}
