@import './functions';
$base-font-size: 20;

$mat-dialog-max-width: rem(1000);

$spacing-xs: rem(4);
$spacing-sm: rem(8);
$spacing-md: rem(16);
$spacing-lg: rem(25);
$spacing-xl: rem(32);
$spacing-xxl: rem(48);

$border-radius-sm: rem(4);
$border-radius-md: rem(8);
$border-radius-lg: rem(16);

$border-radius-table: rem(15);

$background-header-color: rgb(207, 212, 212);
$background-aside-color: rgb(207, 212, 212);
$background-main-color: rgb(240, 240, 240);

$background-cost: rgb(190, 223, 241);
$background-revenue: rgb(241, 202, 190);
$background-margin: rgb(204, 241, 190);
$background-navigation-active: rgb(190, 241, 215);

$background-switcher: rgb(236, 144, 116);
$background-switcher-active: rgb(127, 194, 73);
