@import '../../scss/variables';
@import '../../scss/functions';
@import '../../scss/mixins.scss';

.analytics {
  width: 100%;
  &__top {
    @include flex($justify: space-between);
    margin-bottom: $spacing-md;
  }

  &__title {
    @include flex();
    width: 100%;
  }

  & button {
    --mat-button-outlined-label-text-color: rgb(0, 0, 0);
    --mat-button-outlined-outline-color: dark;
  }

  &__table {
    border-radius: $border-radius-table;
    width: 100%;
  }

  &__config {
    @include flex($gap: 20px);
    border: solid black 1px;
    border-radius: 10px;
    padding: $spacing-md;
    position: relative;
    margin-bottom: $spacing-md;
    width: max-content;
    min-width: fit-content;

    & > span:first-child {
      position: absolute;
      top: rem(-20);
      left: rem(15);
      background-color: $background-main-color;
      padding: $spacing-sm;
    }
  }

  &__config--left,
  &__config--right {
    @include flex($direction: column, $alight: start);
    padding: $spacing-md;
    margin-bottom: $spacing-md;
  }

  &__left,
  &__right {
    @include flex($gap: 30px);
    padding: $spacing-sm;

    & span {
      margin-bottom: 0;
      width: rem(140);
    }
  }

  // &__switcher {
  //   @include flex($gap: 30px);
  //   padding: $spacing-sm;
  //   // padding-top: 50px;

  //   & span {
  //     margin-bottom: 0;
  //   }
  // }
}

p {
  margin-top: 0;
}
