<div class="analytics">
  <div class="analytics__top">
    <div class="analytics__title">
      <h2>Аналитическа информация</h2>
    </div>
    <button
      matButton="outlined"
      cdkFocusInitial
      (click)="openDialog('500ms','300ms')"
    >
      Настройки раздела
    </button>
  </div>

  <div class="analytics__table">
    {{columns() | json}}
    <app-generic-table-component
      [userTrips]="userTripData()"
      [columns]="columns()"
      [displayedColumns]="displayedColumns"
      [listPagination]="LIST_MAIN_TABLE"
    ></app-generic-table-component>
  </div>
</div>
