<div
  class="navigation"
  [routerLink]="routerLink"
  routerLinkActive="isActive"
  [routerLinkActiveOptions]="{ exact: false }"
>
  <div
    class="navigation__icon"
    (click)="iconClick(title)"
  >
    <app-svg-sprite [icon]="icon"></app-svg-sprite>
  </div>
  <div
    class="navigation__title"
    [class.open]="sideBarState$ | async"
    (click)="navigateToSection(title)"
  >
    <span>{{ title || 'No title' }}</span>

    @if (closeIcon && viewPort().LARGE) {
      <app-svg-sprite
        icon="icon-x-circle"
        class="icon-close"
        (click)="menuOff()"
      ></app-svg-sprite>
    }
  </div>
</div>
