<div class="navigation">
  <!-- When viewPort <= 992px: click on icon is opening title in aside and after 1s attaching new method userClickNavigation().
   When viewPort > 992px: click on navigation component is start userClickNavigation()-->

  <div
    class="navigation__icon"
    (click)="viewPort()['992'] && !isOpenMenu && openAsideSection()"
    (click)="isOpenMenu && userClickNavigation()"
  >
    <app-svg-sprite></app-svg-sprite>
  </div>
  <div
    class="navigation__title"
    [class.open]="sideBarState$ | async"
    (click)="userClickNavigation()"
  >
    <span>{{ title || 'No title' }}</span>
  </div>
  @if (closeIcon) {
    <app-svg-sprite icon="icon-x-circle" class="icon-close" (click)="menuOff()"></app-svg-sprite>
  }
</div>
