@import '../../scss/functions';
@import '../../scss/variables';

.container {
  display: grid;
  grid-template-columns: var(--asideWidth) 1fr;
  grid-template-areas:
    'header header'
    'aside main'
    'aside footer';
}

header {
  grid-area: header;
  padding: var(--spacing-l);

  height: rem(75);
  background-color: #753a3a;
}

aside {
  grid-area: aside;
  padding: var(--spacing-lg);

  background-color: #96da5e;
  position: relative;

  .icon-close {
    display: none;
  }
}

main {
  grid-area: main;
  padding: var(--spacing-xl);

  background-color: #48a1b1;
  min-height: 100vh;
}

footer {
  grid-area: footer;
  padding: var(--spacing-sm);

  height: rem(50);
  background-color: #551e9e;
}

@media (max-width: 992px) {
  .container {
    position: relative;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-columns: 1fr;
  }

  aside {
    position: absolute;
    top: rem(75);
    left: 0;
    width: var(--asideWidth992);

    transform: translateX(rem(-180));
    transition: all 1s;
  }

  aside.open-menu-ts {
    transform: translateX(rem(0));
    transition: all 1s;

    .icon-close {
      display: block;
      position: absolute;
      top: calc(var(--spacing-lg) / 2);
      right: calc(var(--spacing-lg) / 2);
      --svgWidth: 24px;
      --svgHeight: 24px;
    }
  }
}
