// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
@import './app/scss/variables';
@import './app/scss/functions';

:root {
  --base-font-size: #{$base-font-size};
  --spacing-xs: #{$spacing-xs};
  --spacing-sm: #{$spacing-sm};
  --spacing-md: #{$spacing-md};
  --spacing-lg: #{$spacing-lg};
  --spacing-xl: #{$spacing-xl};
  --spacing-xxl: #{$spacing-xxl};

  --border-radius-sm: #{$spacing-sm};
  --border-radius-md: #{$spacing-md};
  --border-radius-lg: #{$spacing-lg};

  --asideWidth: #{rem(250)};
  --asideLogoWidth: #{rem(24)};
  --asideLogoHeight: #{rem(24)};
}

@media (max-width: 1200px) {
  :root {
    --base-font-size: 19;
    --spacing-xs: #{rem(3)};
    --spacing-sm: #{rem(6)};
    --spacing-md: #{rem(12)};
    --spacing-lg: #{rem(20)};
    --spacing-xl: #{rem(26)};
    --spacing-xxl: #{rem(36)};

    --border-radius-sm: #{rem(3)};
    --border-radius-md: #{rem(6)};
    --border-radius-lg: #{rem(12)};

    --asideWidth: #{rem(180)};
  }
}

@media (max-width: 992px) {
  :root {
    --base-font-size: 18;
    --spacing-xs: #{rem(3)};
    --spacing-sm: #{rem(6)};
    --spacing-md: #{rem(12)};
    --spacing-lg: #{rem(20)};
    --spacing-xl: #{rem(26)};
    --spacing-xxl: #{rem(36)};

    --border-radius-sm: #{rem(3)};
    --border-radius-md: #{rem(6)};
    --border-radius-lg: #{rem(12)};

    --asideWidth: #{rem(400)};
  }
}

@media (max-width: 768px) {
  :root {
    --base-font-size: 19;
    --spacing-xs: #{rem(3)};
    --spacing-sm: #{rem(6)};
    --spacing-md: #{rem(12)};
    --spacing-lg: #{rem(20)};
    --spacing-xl: #{rem(26)};
    --spacing-xxl: #{rem(36)};

    --border-radius-sm: #{rem(3)};
    --border-radius-md: #{rem(6)};
    --border-radius-lg: #{rem(12)};

    --asideWidth: #{rem(250)};
  }
}

@media (max-width: 576px) {
  :root {
    --base-font-size: 14;
    --spacing-xs: #{rem(3)};
    --spacing-sm: #{rem(6)};
    --spacing-md: #{rem(9)};
    --spacing-lg: #{rem(12)};
    --spacing-xl: #{rem(18)};
    --spacing-xxl: #{rem(22)};

    --border-radius-sm: #{rem(3)};
    --border-radius-md: #{rem(6)};
    --border-radius-lg: #{rem(9)};

    --asideWidth: #{rem(250)};
    --asideWidth992: #{rem(200)};
  }
}

html {
  font-size: var(--base-font-size);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

table .mat-column-primeCost {
  background: #{$background-cost} !important;
  cursor: pointer;
  text-align: center !important;
}

table .mat-column-revenue {
  background: #{$background-revenue} !important;
  text-align: center !important;
}

table .mat-column-margin {
  background: #{$background-margin} !important;
  text-align: center !important;
}
table .mat-column-marginality {
  text-align: center !important;
}

table .mat-sort-header-container {
  justify-content: center;
}

table .mat-column-fuelConsumption {
  text-align: center !important;
}

table .mat-column-actualWorkTime {
  text-align: center !important;
}

table {
  border-radius: $border-radius-table !important;
  overflow: hidden;
}
