@import './app/scss/variables';

html {
  font-size: $base-font-size;
}

:root {
  --spacing-xs: #{$spacing-xs};
  --spacing-sm: #{$spacing-sm};
  --spacing-md: #{$spacing-md};
  --spacing-lg: #{$spacing-lg};
  --spacing-xl: #{$spacing-xl};
  --spacing-xxl: #{$spacing-xxl};

  --border-radius-sm: #{$spacing-sm};
  --border-radius-md: #{$spacing-md};
  --border-radius-lg: #{$spacing-lg};

  --asideWidth: #{rem(250)};
  --asideWidth992: #{rem(200)};
}

@media (max-width: 992px) {
  $base-font-size: 12px;
}
